{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">
            <h1 class="h3">Changez votre mot de passe</h1>
            <a href="{{ path('profile') }}">Retour</a>

            {{ form_start(form) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.newPassword) }}
                <button class="btn btn-primary mb-3">Confirmer</button>
                {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
