{{ form_start(form) }}
    {{ form_row(form.fullname) }}
    {{ form_row(form.adress) }}
    <div class="form-row">
        <div class="col-12 col-md-4">
            {{ form_row(form.postalCode) }}
        </div>
        <div class="col-12 col-md-8">
            {{ form_row(form.city) }}
        </div>
    </div>
    {{ form_errors(form) }}
    <input class="btn btn-primary" type="submit" value="{{ submitText }}"/>
{{ form_end(form) }} 